body {
    margin: 0;
    padding: 0;
    padding-top: 30px; /* Ajoute un espace pour la barre de titre */
  }

  .title-bar {
    background-color: #151515;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    position: fixed; /* Fixe la barre de titre en haut de la fenêtre */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Assure une superposition au-dessus du contenu */
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
  }

  .title-bar button {
    background-color: transparent;
    color: yellow;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-app-region: no-drag;
  }

  .title-bar button:hover {
    color: #ccc;
    -webkit-app-region: no-drag;
  }

  .close-button::after {
    content: "✖";
    -webkit-app-region: no-drag;
  }

  .minimize-button::after {
    content: "—";
    -webkit-app-region: no-drag;
  }

  .maximize-button::after {
    content: "☐";
    -webkit-app-region: no-drag;
  }

  .title-bar .icon {
    display: flex;
    align-items: center; /* Aligne le contenu verticalement */
    padding: 0 10px;
    font-size: 18px;
    margin-right: auto; /* Déplace le contenu vers la gauche */
  }

  .title-bar .icon img {
    height: 25px;
    width: 25px;
  }